*{
    
}
body {
    text-align: center;
    background: radial-gradient(#ffcb94, #74d5ff);
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.3rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #dd2d4a;
}

.yellow{
    background-color: #fee440;
}

.green{
    background-color: rgb(87, 230, 120);
}
.blue{
    background-color: #01c1e7;
}

.flash{
    background-color: #fff;
}

.user-flash{
    background-color:rgb(2, 176, 2);
}